.main .snippet,
.file-tree {
	overflow: auto;
	max-height: 326px;
}

.main .fieldset > .content {
	height: 372px;
}

.main .file-tree-footer-bar {
	display: flex;
	align-items: center;
}

.codeblock > pre::-webkit-scrollbar {
	all: unset;
}
